::selection { 
	background: red;
	opacity: 1.0;
	color: #fff;
	text-shadow: none;
}

code {
	text-shadow: 0 -1px 0 white;
}

.entry-content blockquote:before {
	text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}