* {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

body {
	font-size: 12pt;
	font-family: Palatino, Georgia, Times, "Times New Roman", serif;
	background: white;
	-webkit-hyphens: auto;
}

a {
	text-decoration: none;
}

a:after {
	content: '' !important;
	font-size: 11pt;
}

code, pre {
	font-family: monospace;
	font-weight: bold;
}

ol, ul {
	margin: 0;
	padding-left: 25px;
	margin-top: 5px;
	margin-bottom: 15px;
}

ol li, ul li {
	margin: 5pt 0 5pt 0;
}

#sidebar, #main {
	margin-left: 15%;
	margin-right: 15%;
}

#sidebar {
	font-size: .8em;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 25px;
	margin-top: 30px;
}

#sidebar a {
	color: black !important;
}

#sidebar ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

#sidebar ul li {
	display: inline-block;
	margin: 0;
}

#sidebar #tagline, #sidebar .website, #sidebar .email, #main #lupd, nav {
	display: none;
}

#sidebar #blogname:after {
	margin-left: 5px;
	content: "-";
}

#main {
	font-size: 16pt;
}

#main #lupd {
	display: none;
}

#main .hentry {
	padding-bottom: 150px;
	position: relative;
}

#main .hentry:after {
	position: absolute;
	bottom: 0;
	width: 100px;
	margin-left: -50px;
	left: 50%;
	content: url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://blog.mahardi.me&choe=UTF-8);
}

#main .hentry h1 {
	font-size: 24pt;
	font-weight: bold;
	position: relative;
	padding: 10px 0 5px 0;
	font-family: Helvetica, Arial, sans-serif;
}

#main .hentry h1:after {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 120px;
	height: 120px;
	margin-left: -60px;
}

#main .hentry time {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
	font-size: 10pt;
}

#main .hentry time:before {
	content: "Published on";
	margin-right: 5px;
}

.entry-content p, .entry-content li {
	line-height: 23pt;
	margin-bottom: 12pt;
}

.entry-content li {
	margin-bottom: 0;
}

.entry-content li:first-child {
	margin-top: 12pt;
}

.entry-content h3 {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
	line-height: normal;
	font-family: Helvetica, Arial, sans-serif;
}
.entry-content .is-link {
	position: relative;
	padding-right: 15px;
}
.entry-content .is-link .top {
	position: absolute;
	top: -10px;
	right: -2px;
	font-size: 8pt;
	color: #00F !important;
}
/*.entry-content a:after {
	content: "\2014  "attr(href) !important;
	color: #00fd;
	font-size: inherit;
	margin-left: 3px;
}*/

.entry-content a[href^=http]:after {
	content:" <" attr(href) ">";
}

.link-list {
	position: relative;
	padding-top: 28pt;
	font-size: 12pt;
}

.link-list:before {
	position: absolute;
	top: 12pt;
	left: 0;
	content: 'References';
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 18pt;
}

.link-list li {
	margin-bottom: 0;
	line-height: 16pt;
	font-family: Helvetica, Arial, sans-serif;
}

.comment {
	display: none;
}