<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <% if @path == 'index' %>
      <%= title %>
    <% elsif @path.split('/').compact.length == 4 %>
      <%= title %> - Achmad Mahardi: blog
    <% else %>
      <%= @path.capitalize.gsub(/[-]/, ' ') %> - Achmad Mahardi: blog
    <% end %>
  </title>
  <meta name="description" content="<%= @context[:description] || 'Blog of Achmad Mahardi' %>" />
  <meta name="author" content="<%= @config[:author] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% unless @context[:description].nil? %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@achmadmahardi">
    <meta name="twitter:title" content="<%= @context[:title] %>">
    <meta name="twitter:description" content="<%= summaryText %>">
  <% end %>
  <link rel="icon" href="/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/github.css" media="screen" />
  <link rel="stylesheet" href="/css/print.css" media="print" />
  <script src="/js/libs/prefixfree.min.js"></script>
</head>
  <%= yield %>
  <footer class="site-footer">
      <div class="inner">
           <section class="copyright">All content copyright <a href="/">Achmad Mahardi</a> &copy; 2012 &bull; All rights reserved.</section>
           <section class="poweredby">Proudly published with <a href="https://github.com/cloudhead/toto">Toto</a></section>
      </div>
  </footer>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25636536-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
