<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>
    <% if @path == 'index' %>
      <%= title %>
    <% elsif @path.split('/').compact.length == 4 %>
      <%= title %> - Achmad Mahardi: blog
    <% else %>
      <%= @path.capitalize.gsub(/[-]/, ' ') %> - Achmad Mahardi: blog
    <% end %>
  </title>
  <meta name="description" content="<%= @context[:description] || 'Blog of Achmad Mahardi' %>" />
  <meta name="author" content="<%= @config[:author] %>">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css" media="screen">
  <link rel="stylesheet" href="/css/extra.css" media="screen">
  <link rel="stylesheet" href="/css/font-awesome.css" media="screen">
  <link rel="stylesheet" href="/css/github.css" media="screen" />
  <link rel="stylesheet" href="/css/print.css" media="print" />
  <script src="/js/libs/prefixfree.min.js"></script>
</head>
<body>
  <header id="sidebar" class="clearfix">
    <!--<aside id="logo" class="clearfix">
      <div class="clearfix">
        <a href="/">Achmad Mahardi Kusuma Rachman</a>
      </div>
    </aside>-->
    <ul id="meta">
      <li class="blogname"><h1 id="blogname"><a href="/" title="Welcome" data-skip-pjax>Achmad Mahardi</a></h1></li>
      <li class="tagline"><h2 id="tagline">I craft webpages.</h2></li>
      <li class="website link"><a href="/archives" title="Previous Post">archive</a></li>
      <li class="website link"><a href="/about" title="About Me">about</a></li>
      <li class="twitter link"><a href="http://twitter.com/achmadmahardi" title="twitter" target="_blank">@achmadmahardi</a></li>
      <li class="email link"><a href="mailto:achmad@mahardi.me&subject=Hello!" title="email">mail me</a></li>
    </ul>
    <!--<nav>
      <ul>
        <li><a href="/about" title="About">Colophon</a></li>
      </ul>
    </nav>-->
  </header>
  <section id="main" data-pjax-container>
    <%= yield %>
  </section>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25636536-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script>
    $(document).pjax('a:not([data-remote]):not([data-behavior]):not([data-skip-pjax])','[data-pjax-container]');
    $(document).on('pjax:send', function() {
      $.zprogress.start();
    });
    $(document).on('pjax:complete', function() {
      $.zprogress.done();
    });
    $(document).ready(function() {
      $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
  </script>
</body>
</html>
